.tree-link:focus,
.tree-link.active {
  color: black;
  background-color: rgb(235, 235, 235);
}

.tree-link:hover,
.tree-group-link:hover {
  background-color: rgb(245, 245, 245);
}

.no-transition{
  transition: none !important;
}